*{
    margin: 0px;
    padding: 0px;
}
/*CUERPO */
body{
    background-image: url(https://i.pinimg.com/originals/de/fb/58/defb58739ecc6a3e454a07f045c2b0a5.png);
}
div {
    padding:10px;
    width: 40%;
    border-spacing: 6px;
    font-family: serif;
    font-size: 20px;
    background: rgb(255, 255, 255,.7);
    margin: auto;
    margin-top: 0.5%;
    border: none;
    border-radius: 4px;
    color: black;
}

div input{
    font-family: serif;
    font-size: 17px;
    border: 1px solid skyblue;
    height: 30px;
    margin: 5px;
    width: 305px;
}


#btn{
    text-decoration: none;
    text-align: center;
    height: 40px;
    width: 85px;
    background-color: rgb(11, 11, 49);
    color:white;
    border-radius: 6px;
    border: 1px solid white;
    font-family:  serif;
    font-size: 15px;
    margin-top: 10px;
   
}


/*DIVS DE MENSAJES*/
#mensajeNombre, #mensajeRuc, #mensajeFilas, #mensajeColumnas, #mensajeLatitud2, #mensajeLongitud2{
    color: red;
}

#mensajeLatitud, #mensajeLongitud{
    color:green;
}

